#post {
    @apply text-gray-900 leading-normal break-words;
}

#post > * + * {
    @apply mt-0 mb-4;
}

#post li + li {
    @apply mt-1;
}

#post li > p + p {
    @apply mt-6;
}

#post strong {
    @apply font-semibold;
}

#post a {
    @apply text-blue-600 font-semibold;
}

#post strong a {
    @apply font-bold;
}

#post h1 {
    @apply leading-tight border-b text-4xl font-semibold mb-4 mt-6 pb-2;
}

#post h2 {
    @apply leading-tight border-b text-2xl font-semibold mb-4 mt-6 pb-2;
}

#post h3 {
    @apply leading-snug text-lg font-semibold mb-4 mt-6;
}

#post h4 {
    @apply leading-none text-base font-semibold mb-4 mt-6;
}

#post h5 {
    @apply leading-tight text-sm font-semibold mb-4 mt-6;
}

#post h6 {
    @apply leading-tight text-sm font-semibold text-gray-600 mb-4 mt-6;
}

#post blockquote {
    @apply text-base border-l-4 border-gray-300 pl-4 pr-4 text-gray-600;
}

#post code {
    @apply font-mono text-sm inline bg-gray-200 rounded px-1 py-05;
}

#post pre {
    @apply bg-gray-100 rounded p-4;
}

#post pre code {
    @apply block bg-transparent p-0 overflow-visible rounded-none;
}

#post ul {
    @apply text-base pl-8 list-disc;
}

#post ol {
    @apply text-base pl-8 list-decimal;
}

#post kbd {
    @apply text-xs inline-block rounded border px-1 py-05 align-middle font-normal font-mono shadow;
}

#post table {
    @apply text-base border-gray-600;
}

#post th {
    @apply border py-1 px-3;
}

#post td {
    @apply border py-1 px-3;
}

#post .highlight pre {
    @apply bg-gray-100;
}

#post {
code[class*=language-] {
    color: #090910;
    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    &::-moz-selection {
        text-shadow: none;
        text-shadow: none;
        background: #b3d4fc;
        background: #b3d4fc;
    }
    &::selection {
        text-shadow: none;
        text-shadow: none;
        background: #b3d4fc;
        background: #b3d4fc;
    }
}
pre[class*=language-] {
    color: #090910;
    background: none;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    padding: 1em;
    margin: .5em 0 2em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
    background: #fbfbfd;
    box-shadow: 0 1px 1px rgba(0,0,0,.075);
    color: #ca473f;
    &::-moz-selection {
        text-shadow: none;
        text-shadow: none;
        background: #b3d4fc;
        background: #b3d4fc;
    }
    &::selection {
        text-shadow: none;
        text-shadow: none;
        background: #b3d4fc;
        background: #b3d4fc;
    }
}
&:not(pre) {
    >code[class*=language-] {
        background: #fbfbfd;
        box-shadow: 0 1px 1px rgba(0,0,0,.075);
        color: #ca473f;
    }
}
@media print {
    code[class*=language-] {
        text-shadow: none;
    }
    pre[class*=language-] {
        text-shadow: none;
    }
}
}

p {
    @apply leading-7 text-gray-500;
}

strong {
    @apply font-bold;
}

h2 {
    @apply text-2xl;
}
h3 {
    @apply text-xl;
}

.py-05 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}
