@import "flag-icons/css/flag-icons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Helvetica Neue LT";
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("../fonts/37ea4f5ec5cd1769ca21400bc7c48f82.woff2") format("woff2"),
    url("../fonts/37ea4f5ec5cd1769ca21400bc7c48f82.woff") format("woff"),
    url("../fonts/37ea4f5ec5cd1769ca21400bc7c48f82.ttf") format("truetype");
}

@font-face {
    font-family: "Helvetica Neue LT";
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Helvetica Neue-LT-W06-75-Bold.woff2") format("woff2"),
    url("../fonts/Helvetica Neue-LT-W06-75-Bold.woff") format("woff"),
    url("../fonts/Helvetica Neue-LT-W06-75-Bold.ttf") format("truetype");
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
    @apply my-4 rounded overflow-x-auto;
}

#post.prose :where(pre):not(:where([class~="not-prose"] *)) {
    @apply bg-github-dark;
    @apply p-1;
}
/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply px-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/

pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}

/*
  Blur and dim the lines that don't have the `.line-focus` class,
  but are within a code block that contains any focus lines.
*/
.torchlight.has-focus-lines .line:not(.line-focus) {
    transition: filter 0.35s, opacity 0.35s;
    filter: blur(.095rem);
    opacity: .65;
}

/*
  When the code block is hovered, bring all the lines into focus.
*/
.torchlight.has-focus-lines:hover .line:not(.line-focus) {
    filter: blur(0px);
    opacity: 1;
}